header{
    text-align: center;
    color: aqua;
}
.start_bnt{
    position: relative;
    top: 50%;
    left: 45%;
    transform: scale(top,left);
    color:azure;
    background-color: black;
    height: 6vh;
    width: 18vh;
}
._bnt{
    position: relative;
    top: 50%;
    left: 45%;
    transform: scale(top,left);
    color:azure;
    background-color: black;
    height: 6vh;
    width: 18vh;
}